@font-face {
  font-family: 'qabasLight';
  src: url(/fonts/Alqabas-light.ttf);
}

@font-face {
  font-family: 'qabasRegular';
  src: url(/fonts/Alqabas-regular.ttf);
}

html {
  scroll-behavior: smooth;
}

.light {
  font-family: 'qabasLight', sans-serif;
}

.regular {
  font-family: 'qabasRegular', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(/images/Background.jpg)no-repeat center center/cover;
}

a {
  text-decoration: none;
  color: white;
}

.btn-nav {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  color: rgb(55, 55, 53);
  transition: 0.1s;
  background: linear-gradient(#cac8ad, #ffffff);

  cursor: pointer;

  &:hover {
    padding: 1.1rem 2.1rem;
  }
}

.navbar {
  z-index: 55;
  position: fixed;
  top: 0;
  display: flex;
  height: 6rem;
  width: 100%;
  justify-content: end;
  align-items: center;
  color: white;
  transition: all 0.3s ease-in-out;
}

#logo {
  z-index: 2;
  margin-right: 7%;
}

.img-logo {
  height: 4.5rem;
  z-index: 2;
}



.nav-items {
  z-index: 2;
  display: flex;
  transition: all 0.2s ease-in-out;
  gap: 2.5rem;
  margin-right: 10%;

  a {
    transition: all 0.2s ease-in-out;
    padding: 1rem;
    font-size: 1.2rem;
    color: rgb(208, 179, 132);

    &:hover {
      color: rgb(156, 28, 31);
    }
  }
}

.new-nav {
  height: 4.5rem;
  background: white;
  z-index: 1500000000;

  .img-logo {
    height: 3rem;
  }

  a {
    font-size: 0.8rem;
  }

  .trip-btn {
    position: relative;
    bottom: 0.15rem;
  }
}

.active {
  color: rgb(156, 28, 31) !important;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
  text-decoration-color: rgb(208, 179, 132);
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;

  h1 {
    text-align: right;
    // margin: 4rem;
  }

  .txt-cont-head {
    margin: 3rem;
    z-index: 99;
    font-size: 1.3rem;
  }

  p {
    max-width: 20rem;
    margin: 1rem;
    text-align: right;
  }

}

.foot-head {
  width: 100%;
  z-index: 9999999;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.social-media i {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.3rem;
  color: rgb(208, 179, 132);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: rgb(156, 28, 31);
  }
}

#ih {
  transition: 1s all ease-in-out;
}

.img-head {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  color: white;
  background-color: black;
  position: relative;
}

.img-head::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  background: url(/images/457fb156-bfcf-4c19-8bdf-0ed98930de97.jpeg)no-repeat center center/cover;
}

.img-headd {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  color: white;
  background-color: black;
  position: relative;
}

.img-headd::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  background: url(/images/d7f882d2-9aa9-4950-a64a-22dff21a282c.jpeg)no-repeat center center/cover;
}

.zero-o {
  opacity: 0;
}

.img-headdd {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  color: white;
  background-color: black;
  position: relative;
}

.img-headdd::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  background: url(/images/d9b0aa38-feea-4a6a-8926-a57d26faa77f.jpeg)no-repeat center center/cover;
}

#about {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: right;

  .txt-about-cont {
    width: 50%;
    margin-right: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;

    h1 {
      text-align: right !important;
      justify-self: right;
      align-self: flex-end;
      font-size: 4rem;
      margin-bottom: 1rem;
      color: rgb(208, 179, 132);

      span {
        font-weight: bolder;
      }
    }

    p {
      line-height: 1.7rem;
      // max-width: 50%;
    }
  }

  .img-about-cont {
    width: 50%;
    // margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

.img1 {
  height: 13rem;
  width: 15rem;
  border-radius: 10px;
  background: url(/images/About-01.jpg)no-repeat center center/cover;
}

.img2 {
  height: 13rem;
  width: 15rem;
  border-radius: 10px;
  background: url(/images/About-02.jpg)no-repeat center center/cover;
}

#vision {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-vision {
  height: 70vh;
  width: 22%;
  background: url(/images/Vision.jpg)no-repeat center center/cover;
  position: absolute;
  right: 0;
}

.txt-cont-vision {
  color: black;
  height: 70vh;
  width: 77%;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: right;
  line-height: 1.5rem;

  h1 {
    color: rgb(208, 179, 132);
  }
}

.txt-vision {
  margin: 4rem;
}

.eye-vision {
  position: absolute;
  right: 2rem;
}

.txt-eye {
  width: 100%;
  position: absolute;
  right: 8rem;
}

.txt-dart {
  width: 70%;
  position: absolute;
  right: 8rem;
}

.txt-jewel {
  width: 70%;
  position: absolute;
  right: 8rem;
}

.dart-vision {
  position: absolute;
  right: 2rem;
}

.jewel-vision {
  position: absolute;
  right: 2rem;
}

#makkah {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  flex-direction: column;
}

.txt-cont-makkah {
  margin: 2rem;
  line-height: 1.5rem;

  h1 {
    color: rgb(208, 179, 132);
    margin-bottom: 1rem;
    margin-top: 1.2rem;
    font-size: 2rem;
  }
}

.img1-makkah {
  background: url(/images/No-01.svg)no-repeat center center/cover;
  height: 8rem;
  width: 11rem;
}

.img2-makkah {
  background: url(/images/No-02.svg)no-repeat center center/cover;
  height: 8rem;
  width: 10rem;
}

.img3-makkah {
  background: url(/images/No-03.svg)no-repeat center center/cover;
  height: 8rem;
  width: 10rem;
}

.img-cont-makkah {
  display: flex;
  gap: 4rem;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 99999999999999999999;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: black;
}

#contactt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(/images/Background.jpg)no-repeat center center/cover;
}

.new-info {
  text-align: right;
  width: 45%;
  position: absolute;
  right: 40%;
  bottom: 60%;

  h1 {
    margin-bottom: 1rem;
    color: rgb(208, 179, 132);
    font-size: 3rem;
  }
}

.info-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  // text-align: center;
  z-index: 2;

  .info-item-cont {
    // margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    align-items: start;
    margin-top: 3rem;
    margin-left: 40%;
  }

  .info-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: left;
    width: 45%;
    color: #505050;
    position: relative;
    top: 3rem;
    margin-left: 1rem;

    h4 {
      direction: rtl !important;
    }

    i {
      font-size: 1.5rem;
      // height: 3rem;
      margin: 1rem;
      text-align: right;
      color: rgb(208, 179, 132);
    }
  }
}

.num {
  display: flex;
  flex-direction: column;
}

.input-contact {
  display: flex;
  width: 60%;
  height: 60%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 2;

  .input-item {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;

    .message {
      height: 6rem;
    }

    label {
      display: flex;
      justify-content: flex-end;
      color: rgb(156, 28, 31);
      margin-top: 1.5rem;
      text-align: right;
    }

    input {
      width: 100%;
      height: 2rem;
    }

  }
}

.btn-contact {
  width: 70%;
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
  background-color: rgb(208, 179, 132);
  color: white;
  border: none;
  border-radius: 8px;
  transition: 0.1s;
  cursor: pointer;

  &:hover {
    padding: 1.1rem;
  }
}

.img-slider {
  margin-bottom: 1rem;
}

@media(max-width:1017px) {

  #contactt {
    font-size: 0.5rem;
  }

  .message {
    height: 2rem !important;
  }

  .new-info {
    display: none;
  }

  .img-slider {
    display: none;
    height: 0;
    width: 0;
  }


  .info-item-sec-cont {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
  }

  .info-item {
    font-size: 0.8rem;
  }



  .img1-makkah {
    height: 5rem;
    width: 5rem;
  }

  .img2-makkah {
    height: 5rem;
    width: 5rem;
  }

  .img3-makkah {
    height: 5rem;
    width: 5rem;
  }

  .txt-vision {
    font-size: 0.6rem;
    width: 50%;
  }

  .txt-eye {
    position: absolute;
    right: 2rem;
  }

  .txt-dart {
    position: absolute;
    right: 2rem;
  }

  .txt-jewel {
    position: absolute;
    right: 2rem;
  }

  .eye-vision {
    height: 0;
    width: 0;
    opacity: 0;
  }

  .dart-vision {
    height: 0;
    width: 0;
    opacity: 0;
  }

  .jewel-vision {
    height: 0;
    width: 0;
    opacity: 0;
  }


  .img1 {
    height: 13rem;
    width: 10rem;
  }

  .img2 {
    height: 13rem;
    width: 10rem;
  }

  .txt-about-cont {
    font-size: 0.5rem;
    line-height: 0;

    h1 {
      span {
        font-size: 2rem;
      }
    }
  }

  .social-media i {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 1rem;
  }

  .hamburger {
    display: block;
  }

  .hambruger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hambruger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hambruger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav-items {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin-right: 0;
  }

  #logo {
    margin-right: 0;
  }

  .nav-items a {
    color: white;
    margin: 16px 0;
  }

  .btn-nav {
    width: 5rem;
    position: relative;
    left: 7.3rem;
    color: black !important;
  }

  .nav-items.active {
    left: 0;
  }
}